body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Inter", sans-serif;
  align-items: center;
  background-color: #1a1a1a;
  justify-content: space-between;
}

header {
  background: #E20600;
  min-height: 140px;
  border: 6px double #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
  min-width: 90%;
}

.container {
  width: 80%;
  margin: 10px auto;
}

#f1-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

#f1-form label {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

#f1-form input[type="number"] {
  padding: 0.5rem;
  font-size: 18px;
  margin-bottom: 1rem;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #c7c7c7;
}

#f1-form button {
  padding: 0.5rem 1rem;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #E20600;
  border: 6px double #E20600;
  font-weight: 600;
}

#f1-form button:hover {
  background: #E20600;
  border: 6px double #fff;
  color: #fff;
  scale: 105%;
  transition: 1s;
}

#f1-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #d3d3d3;
  color: #000;
}

#f1-table th, #f1-table td {
  border: 2px solid #000;
  padding: 12px;
  text-align: center;
}

#f1-table th {
  background-color: #c7c7c7;
  color: #000;
}

#f1-logo {
  justify-content: flex-start;
  width: 250px; 
  display: block; 
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 0.5rem;
  background: #E20600;
  max-width: none; 
  max-height: none;
  height: 40px;
  justify-content: center;
  border: 6px double #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
  margin-top: 250px;
  position: sticky;
  bottom: 10px;
  /* z-index: -100; */
}

footer:hover {
  transition: 1000ms;
}

.made-by,
.author {
  font-size: 0.9rem;
}

.made-by {
  cursor: default;
}

.author {
  font-weight: bold;
  cursor: pointer;
}

.author:hover {
  color: #1a1a1a;;
  transition: 1000ms;
  scale: 110%;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}