body {
  color: white;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

header {
  background: #E20600;
  min-height: 140px;
  border: 6px double #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
}

.container {
  width: 80%;
  margin: 10px auto;
}

#f1-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

#f1-form label {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

#f1-form input[type="number"] {
  padding: 0.5rem;
  font-size: 18px;
  margin-bottom: 1rem;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #c7c7c7;
}

#f1-form button {
  padding: 0.5rem 1rem;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e20800cf;
  color: #fff;
}

#f1-form button:hover {
  background-color: #E20600;
  color: #fff;
  scale: 105%;
}



#f1-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #d3d3d3;
  color: #000;
}

#f1-table th, #f1-table td {
  border: 2px solid #000;
  padding: 12px;
  text-align: center;
}

#f1-table th {
  background-color: #c7c7c7;
  color: #000;
}

#f1-logo {
  justify-content: flex-start;
  width: 250px; 
  display: block; 
  margin: 0 auto;
}
